<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<br/>
<th:if test="${!empty users}">
    <table border="1">
        <tr>
            <th>Actions</th>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
        </tr>
        <tr th:each="user: ${users}">
            <td>
                <a th:href="@{/edit/{id}(id=${user.getId()})}">Edit</a>
                <form th:action="@{remove/{id}(id=${user.getId()})}" th:method="delete"><button>Delete</button></form>
            </td>
            <td th:text="${user.getId()}">id</td>
            <td th:text="${user.getFirstName()}">firstName</td>
            <td th:text="${user.getLastName()}">lastName</td>
            <td th:text="${user.getEmail()}">email</td>
        </tr>
    </table>
</th:if>
<!--
<h1>Remove user</h1>
<form action="#" th:action="@{/remove}" th:object="${user}" method="delete">
    <input type="number" th:field="*{id}" id="id"/>
    <label for="id">ID</label>
    <br/>
    <input type="submit" value="Submit"/>
</form>
-->
<h1>Add user</h1>
<form th:method="POST" th:action="@{/add}" th:object="${user}">
    <input type="text" th:field="*{firstName}" id="first_name"/>
    <label for="first_name">First name</label>
    <br/>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <label for="last_name">Last name</label>
    <br/>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="email">Email</label>
    <br/>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>